<h1>Listing entries</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Finish</th>
    <th>Expectation</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.start %></td>
    <td><%= entry.finish %></td>
    <td><%= entry.expectation %></td>
    <td><%= entry.user_id %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
